@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Geist:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pupple: #6B52E7;
  --gray: #b8b8b8;
  --dark-gray: #d4d4d4;
  --background: #020816;
  --card-background: #131923;
  --text-color: #d4d4d4;
  --border-color: #1D212B;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: auto; */
}
body{
  background-color: #020816;
}

